{% extends "base.html" %}
{% block title %}Bunny Hop - Home{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
<p class="text-center mb-5">
    Find the answers for the most frequently asked questions below
</p>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="accordion accordion-flush" id="accordionFlushExample">

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        How do I order?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">You can order from our restaurants tab from the navbar! We deliver from a multitude of partnered restaurants!</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        What payment methods do you accept?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Currently we only accept payment by card.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                        What restaurants can I order from?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">We are partnered with a multitude of restaurants.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                        What is BunnyHop Subscription?
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">More details on Subscription can be found on our subscription page.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                        My question is not listed.
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Please write us your feedback on our contact us form below.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="text-center mb-4 pb-2 text-primary fw-bold">Contact Us</h3>

<div class="row justify-content-center">
    <div class="col-5">
        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(form.email, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.remarks, class="form-control") }}
            </div>
            <input type="submit" value="Submit" class="btn btn-primary mt-3"/>
        </form>
    </div>
</div>

{% endblock %}