{% extends "base.html" %}
{% block title %}Bunnyhop - Find Food{% endblock %}

{% block content %}
    <h1 class="display-4">Find Food</h1>
    <h2>Filter by:</h2>
    <form method="POST">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked value="name">
          <label class="btn btn-outline-primary" for="btnradio1">Name</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="tags">
          <label class="btn btn-outline-primary" for="btnradio2">Tags</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="res">
          <label class="btn btn-outline-primary" for="btnradio3">Restaurant</label>
        </div>
        <br>
        <br>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <input type="text" name="search" class="form-control">
          </div>
          <div class="col-auto">
            <input type="submit" value="Search" class="btn btn-primary"/>
          </div>
        </div>
    </form>
    <hr>
    {% for food in pagination.items %}
        <div>
            <table>
                <tr>
                    <td><img src="{{ food.img }}", style="width: 100px; height: 100px; margin-right: 30px;"></td>
                    <td><h2>{{ food.name }}</h2>
                    <p>{{ food.tags }}</p>
                    <p>{{ food.restaurant }}</p>
                    <h1>${{ food.price }}0</h1></td>
                </tr>

            </table>
        </div>
        <form method="POST">
            <button type="submit" class="btn btn-primary" value="{{ food.id }}" name="submit-button">Add to cart</button>
        </form>
        <hr>
    {% endfor %}
    <div class="pagination">
        <ul class="pagination">
        <li class="page-item">
            {% if pagination.has_prev %}
                <a class='page-link' href="{{ url_for('search', page=pagination.prev_num) }}">
                    {{ '<<' }}
                </a>
            {% endif %}
        </li>
        {% for number in pagination.iter_pages() %}
                {% if pagination.page != number %}
                    <li class="page-item">
                        <a class='page-link'href="{{ url_for('search', page=number) }}">
                            {{ number }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item active"><span class='page-link'>{{ number }}</span></li>
                {% endif %}
        {% endfor %}
        <li class="page-item">
            {% if pagination.has_next %}
                    <a class='page-link'
                        href="{{ url_for('search', page=pagination.next_num) }}">
                        {{ '>>' }}
                    </a>
            {% endif %}
        </li>
       </ul>
    </div>
{% endblock %}
