{% extends "base.html" %}
{% block title %}Bunnyhop - Find Food{% endblock %}

{% block content %}
    <h1 class="display-4">Find Food</h1>
    <form method="POST">
        <input type="text" name="search">
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>
    <hr>
    {% for food in pagination.items %}
        <div>
            <table>
                <tr>
                    <td><img src="{{ food.img }}", style="width: 100px; height: 100px; margin-right: 30px;"></td>
                    <td><h2>{{ food.name }}</h2>
                    <p>{{ food.tags }}</p>
                    <p>{{ food.restaurant }}</p>
                    <h1>${{ food.price }}0</h1></td>
                </tr>

            </table>
        </div>
        <form method="POST">
            <button type="submit" class="btn btn-primary" value="{{ food.id }}" name="submit-button">Add to cart</button>
        </form>
        <hr>
    {% endfor %}
    <div class="pagination">
    {% if pagination.has_prev %}
        <span>
            <a class='page-number' href="{{ url_for('search', page=pagination.prev_num) }}">
                {{ '<<<' }}
            </a>
        </span>
    {% endif %}

    {% for number in pagination.iter_pages() %}
        {% if pagination.page != number %}
            <span>
                    <a class='page-number'
                        href="{{ url_for('search', page=number) }}">
                    {{ number }}
                    </a>
            </span>
        {% else %}
            <span class='current-page-number'>{{ number }}</span>
        {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
        <span>
            <a class='page-number'
                href="{{ url_for('search', page=pagination.next_num) }}">
                {{ '>>>' }}
            </a>
        </span>
    {% endif %}
    </div>
{% endblock %}
