{% extends "base.html" %}
{% block title %} Bunnyhop - Signing up as a Customer{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<body>
<br> <br>
    <h1 class="display-4" >Reset Password </h1>

        <form method="POST" action="">
            <div class="form-group">
        {{ render_field(form.password, class="form-control") }}
            </div>
            <div class="form-group">
        {{ render_field(form.confirm_password, class="form-control") }}
            </div>
             <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </form>

</body>

{% endblock %}
