{% extends "staff_base.html" %}
{% block title %}Bunny Hop - FAQ Contact Us{% endblock %}
{% block content %}
<h3 class="text-center mb-4 pb-2 text-primary fw-bold">Retrieve Contact Us Requests</h3>
<div class="text-center">
    {% if count == 0 %}
    <p>There are no Contact Us requests.</p>
    {% elif count == 1 %}
    <p>There is 1 Contact Us request.</p>
    {% else %}
    <p>There are {{ count }} Contact Us requests.</p>
    {% endif %}
</div>
<div>
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Faq ID</th>
                    <th>Email</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                {% for faq in faqs_list %}
                <tr>
                    <td>{{ faq.get_faq_id() }}</td>
                    <td>{{ faq.get_email() }}</td>
                    <td>{{ faq.get_remarks() }}</td>
                    <td><a href="/updateFaq/{{faq.get_faq_id()}}" class="btn btn-warning">Update</a></td>
                    <td>
                        <form action="{{url_for('delete_faq', id=faq.get_faq_id())}}" method="POST">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}