{% extends "staff_base.html" %}
{% block title %}BunnyHop - Home{% endblock %}

{% block content %}
<div class="container col-xxl-8 py-5">
	<div class="row flex-lg-row-reverse align-items-center g-5">
		<div class="col-10 col-sm-8 col-lg-6">
			<img src="https://images.pexels.com/photos/3184360/pexels-photo-3184360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
		</div>
		<div class="col-lg-6">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h2 class="fw-bold display-5">Welcome Back!</h2>
				</div>
			</div>

			<div class="lc-block mb-3">
				<div editable="rich">
					<p class="lead">Work hard. Play hard. Lezduit.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}